In [1]:
# Create a markdown cell with the title Data Science Tools and Ecosystem using H1 style heading.

# Data Science Tools and Ecosystem

In [4]:
# Write an introductory sentence about the notebook

In this notebook, Data Science Tools and Ecosystem are summarized.

In [22]:
# Insert a markdown cell to list Objectives

**Objectives:**
* Create a Jupyter Notebook
* List data science languages
* List data science libraries
* Create a table of Data Science tools
* Introduce arithmetic expression examples

In [8]:
# Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. C++

In [10]:
# Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib
4. Plotly

In [11]:
# Create a markdown cell with a table of Data Science tools

| Data Science Tools |
| ------------------ |
| Scikit-learn |
| TensorFlow |
| PyTorch |
| Keras |

In [12]:
# Create a markdown cell introducing arithmetic expression examples

## Below are a few examples of evaluating arithmetic expressions in Python

In [13]:
# Create a code cell to multiply and add numbers

In [14]:
# This a simple arithmetic expression to mutiply then add integers

In [15]:
(3*4)+5

17

In [16]:
# Create a code cell to convert minutes to hours

In [17]:
# This will convert 200 minutes to hours by diving by 60

In [20]:
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

In [23]:
# Create a markdown cell to indicate the Author's name

## Author

Raunika Tandon